<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myfitness</title> 
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <h1>myfitness</h1>
    <p>Sistema de Gerenciamento de Estoque</p>

    <a href="{% url 'indexmyfitness' %}">Home</a>
    <a href="{% url 'cadastromyfitness' %}">Cadastro myfitness</a>

    {% block content %}
    {% endblock %}
</body>
</html>